{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/formacao.css">
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/src/static/formacao.css">
<section class="formacao" id="formacao">
    <div class="max-width">
        <h2 class="title">For<span>mação</span></h2>
        <div class="form-content">
            <div class="card">
                <div class="box">
                    <img src="../static/imagens/logo_2.png">
                    <div class="text">Desenvolvimento Software Multiplataforma</div>
                    <div class="text-1">Fatec Jassen Vidal</div>
                    <div class="text-2">2021 - 2023</div>
                    <div class="text-3">São José dos Campos - SP</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../static/imagens/logo_2.png">
                    <div class="text">Logística</div>
                    <div class="text-1">Fatec Jassen Vidal</div>
                    <div class="text-2">2015 - 2017</div>
                    <div class="text-3">São José dos Campos - SP</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../static/imagens/logo_anhan.png">
                    <div class="text">Ciências da Computação</div>
                    <div class="text-1">Faculdade Anhanguera </div>
                    <div class="text-2">2006 - 2009</div>
                    <div class="text-3">Taubaté - SP</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../static/imagens/logo_senai.png">
                    <div class="text">Técnico Mecanico</div>
                    <div class="text-1">Senai Felix Guisard</div>
                    <div class="text-2">2004- 2005</div>
                    <div class="text-3">Taubaté - SP</div>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <img src="../static/imagens/logo_etec.png">
                    <div class="text">Técnico Informática Industrial</div>
                    <div class="text-1">Etec João B.L Figueiredo</div>
                    <div class="text-2">1997 - 1999</div>
                    <div class="text-3">Mococa - SP</div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}