{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../static/unico.css">
{% endblock %}

{% block content %}

<section class="home" id="home">
    <div class="max-width">
        <div class="home-content">
            <div class="text-1">Estudante</div>
            <div class="text-2">Fabrício Henriques</div>
            <div class="text-3">Fatec "Jessen Vidal"  SJC  <span id="dev">{Dev</span><span id="oleper">oleper Jr}</span></div>
        </div>
    </div>
</section>

{% endblock %}