        section{
            padding: 80px 0;
        }

        .contact {
            font-family: Roboto,sans-serif;
        }
        .contact .title {
            font-family: Arial, sans-serif;
            text-align: center;
            font-size: 30px;
            font-weight: 500;
            margin-bottom: 25px;
            padding-bottom: 5px;
            position: relative;
            color: whitesmoke;
        }

        .contact .title::before{
            content: " ";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 110px;
            height: 3px;
            background: whitesmoke;
            transform: translateX(-50%);

        }

        .contact .title::after{
            position: absolute;
            bottom: -32px;
            left: 50%;
            font-size: 20px;
            background: none;
            color: yellow;
            padding: 5px;
            transform: translateX(-50%);
        }


        .contact .contact-content{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        color: whitesmoke;
    }
        .contact .contact-content .column{
            width: calc(50% - 30px);
        }
        .contact .contact-content{
            align-items: flex-start;
        }

        .contact .contact-content .left p{
            text-align: justify;
            margin-left: 20px;
        }

        .contact .contact-content .text{
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
            margin-left: 20px;
        }

        .contact .contact-content .left .icons{
            margin: 10px;
        }

        .contact .contact-content .row{
            display: flex;
            height: 65px;
            align-items: center;
        }

        .contact .contact-content .row .info{
            margin-left: 30px;
        }
        .contact .contact-content .row .info .head{
            font-weight: 400;
        }

        .contact .contact-content .row .info .sub-title{
            color: yellow;
        }
        .contact .column  .text{
            color: #d5741b;
            font-weight: bold;

        }


        .contact .contact-content .row ion-icon{
            font-size: 25px;
            color: #d5741b;
        }

        .contact .column {
            margin-right: 30px;
        }

        .contact .column  .text-1{
            margin-top: 5px;
            margin-left: -1px;
            font-size: x-large;
            font-weight: bold;
            color: #d5741b;
        }


        .contact .right form .fields{
            display: flex;
        }

        .contact .right form .fields,
        .contact .right form .field{
            width: 100%;
            height: 40px;
            margin-bottom: 15px;
        }
        .contact .right form .fields input,
        .contact .right form .field input,
        .contact .right form .textarea textarea
        {
            width: 90%;
            height: 100%;
            border: 1px solid whitesmoke;
            border-radius: 5px;
            outline: none;
            padding: 0 10px;
            font-size: 15px;
            font-family: Ubuntu,sans-serif;
        }

        .contact .right form .name{
            margin-right: 35px;

        }

         .contact .right form .sobrenome{
            margin-right: 37px;

        }

        .contact .right form .field .email{

            margin-right: 20px;
        }

        .contact .right form .textarea{
            width: 100%;
            height: 130px;

        }
        .contact .right form .textarea textarea{
            padding-top: 10px;
            resize: none;
        }
        .contact .right form .button{
            margin-top: 10px;
            width: 130px;
            height: 60px;
        }
        .contact .right form .button button{
            width: 80%;
            height: 80%;
            border: 1px solid rgba(52,44,100,0.61);
            background: #054964;
            color: whitesmoke;
            font-size: 15px;
            font-weight: 400;
            border-radius: 5px;
            cursor: pointer;
        }
        .contact .right form .button:hover button{
            background: #d5741b;
        }

        @media (max-width: 947px) {
            .contact .contact-content .column{
                width: 100%;
                margin-bottom: 35px;
            }
        }









