<<<<<<< HEAD
/*.inicio{
    background-color: #32a4de;
    color: whitesmoke;
    font-family: Arial;
    font-size: 25px;
    padding: 10px;
    margin: 1px;
    display: flex;
    text-justify: inter-character;*/

}
/*#principal{
    height: 50px;
    background-color: #0f1010;
    margin: 1px;
    padding: 1px;
    border: black;
    border-style: solid;
}*/
#menu{
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
}

#menu ul{
    width: 900px;
    margin: -38px;
    padding-left: 860px;
    margin-right: 10px;
    /*height: 15px;*/

}
#menu ul li {
    display: inline-flex;

}
@font-face {
    font-family: minha_fonte;
    src: url("../fonts/Allura-Regular.ttf")
}

.assinatura{
    font-family: minha_fonte;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: fill;
    padding: 8px;
}

.center_title{
    text-align: center;
    font-family: Arial;
    font-size: 35px;
    margin-top: 80px;
}

#h2s {
    font-size: 3em;
    color: rgb(171, 28, 28);
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.container{
    font-size: 100%;
    font-family: Arial;
    text-justify: distribute-all-lines;
    color: rgb(19, 24, 148);
    align-items: center;
    border: #0f1010;
    border-style: solid;
    display: inline-flex;
    margin-bottom: fill;
    }
figcaption{
    text-align: left;
    font-weight: bolder;
}


#p1{
    text-align: initial;

}
#h2sa{
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    color:white;
    border: dashed;
    background-color: darkgreen;
    padding: 0.3em;
    margin: 0.5em;
}
#foto1{
    display: inline-flex;
    image-resolution: normal;
    margin: -10px;
    margin-left: -24px;
    padding: 1px;
    border: silver solid;


}


h3{
    font-family: "Arial Black";
    font-size: 18px;
    color: black;
}
.div_responsiva{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 80vh;
    border-style: solid;
    vertical-align: top;
    font-size: 1.5em;
}

.img_responsiva{
    display: block;
    width: 75%;
    margin: auto;
    text-align: center;
}

@media (max-width: 500px) {
    .div_responsiva{
        display: block;
        width: 100%;
        height: auto;
    }
    .img_responsiva{
        display: block;
        width:90%;
        height: auto;
    }
}

.logo_empresa{
    display: inline-block;
    width: 70%;
    margin-right: initial;

}
=======
/*.inicio{
    background-color: #32a4de;
    color: whitesmoke;
    font-family: Arial;
    font-size: 25px;
    padding: 10px;
    margin: 1px;
    display: flex;
    text-justify: inter-character;*/

}
/*#principal{
    height: 50px;
    background-color: #0f1010;
    margin: 1px;
    padding: 1px;
    border: black;
    border-style: solid;
}*/
#menu{
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    padding-top: 2px;
}

#menu ul{
    width: 900px;
    margin: -38px;
    padding-left: 860px;
    margin-right: 10px;
    /*height: 15px;*/

}
#menu ul li {
    display: inline-flex;

}
@font-face {
    font-family: minha_fonte;
    src: url("../fonts/Allura-Regular.ttf")
}

.assinatura{
    font-family: minha_fonte;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: fill;
    padding: 8px;
}

.center_title{
    text-align: center;
    font-family: Arial;
    font-size: 35px;
    margin-top: 80px;
}

#h2s {
    font-size: 3em;
    color: rgb(171, 28, 28);
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.container{
    font-size: 100%;
    font-family: Arial;
    text-justify: distribute-all-lines;
    color: rgb(19, 24, 148);
    align-items: center;
    border: #0f1010;
    border-style: solid;
    display: inline-flex;
    margin-bottom: fill;
    }
figcaption{
    text-align: left;
    font-weight: bolder;
}


#p1{
    text-align: initial;

}
#h2sa{
    text-align: center;
    font-size: 35px;
    font-family: Arial;
    color:white;
    border: dashed;
    background-color: darkgreen;
    padding: 0.3em;
    margin: 0.5em;
}
#foto1{
    display: inline-flex;
    image-resolution: normal;
    margin: -10px;
    margin-left: -24px;
    padding: 1px;
    border: silver solid;


}


h3{
    font-family: "Arial Black";
    font-size: 18px;
    color: black;
}
.div_responsiva{
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    height: 80vh;
    border-style: solid;
    vertical-align: top;
    font-size: 1.5em;
}

.img_responsiva{
    display: block;
    width: 75%;
    margin: auto;
    text-align: center;
}

@media (max-width: 500px) {
    .div_responsiva{
        display: block;
        width: 100%;
        height: auto;
    }
    .img_responsiva{
        display: block;
        width:90%;
        height: auto;
    }
}

.logo_empresa{
    display: inline-block;
    width: 70%;
    margin-right: initial;

}
>>>>>>> ebe0739dead186e2fb40e2875cab2b7ef0503134
