    *{
    margin: 0;
    padding: 0;
    }

    .menu{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #054964;
    font-family: Arial;
    }

    .menu ul{
    list-style: none;
    position: relative;
    }


    .menu ul li{
    width: 150px;
    float: left;
    }


    .menu a{
    padding: 15px;
    display: block;/*verificar os itens juntos*/
    text-decoration: none;
    text-align: center;
    background-color: #054964;
    color: #cce3da;

    }

    .menu a:hover{
    background-color: #0c1d7a;
    font-weight: bold;
    }

    label[for="botao_menu"]{
    padding: 5px;
    background-color: #054964;
    color: white;
    font-family: Arial;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    }
    #botao_menu{
    display: none;
    }
    label[for="botao_menu"]{
    display: none;

    }
    body{
    height: 100%;
    margin: 0;
    }
    .back{
    background-image: url("/static/imagens/fundo2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    }
    .conteudo{
    padding: 20px;
    color: whitesmoke;
    font-family: Arial;
    margin-left: 20px;
    }
    .conteudo .bloco1 #foto1{
    margin-top: 230px;
    display: flex;
    height: 350px;

    }

    .conteudo .bloco1 #assinatura{
    margin-left: 28px;
    font-family: Allura;
    font-size: xx-large;
    display: flex;
    }

    .conteudo .bloco1 #item{
    margin-top: -220px;
    margin-left: 340px;
    margin-right: 15px;
    font-size: 25px;
    text-align: justify;
    display: flex;
    }


    @media(max-width: 800px) {

    label[for="botao_menu"]{
    display: block;
    }
    #botao_menu:checked ~ .menu{
    margin-left: 0px;

    }

    .menu{
    margin-top: 5px;
    margin-left: -100%;
    transition: all 0.4s;
    }
    .menu ul li {
    width: 100%;
    float: none;
    }

    .menu ul ul{
    position: static;
    overflow: hidden;
    max-height: 0;
    transition: all .6s;
    }
    #botao_menu{
    transition: .4s;

    }

    #botao_menu:checked ~ .conteudo .bloco1 #foto1 {
    margin-top: 210px;
    margin-left: 150px;
    height: 250px ;
    transition: .5s;
    }
    #botao_menu:checked ~ .conteudo .bloco1 #assinatura {
       margin-left: 165px;
        font-family: Allura;
    font-size: x-large;
    display: flex;
    }

    #botao_menu:checked ~ .conteudo .bloco1 #item {
    margin-top: 20px;
    margin-left:10px;
    margin-right: 70px;
    font-size: 20px;
    text-align: justify;
    display: flex;
    transition: .5s;
    }

    #botao_menu:checked ~ #Titulo_1 {
    position: absolute;
    top : 50%
    }

    .conteudo{
    padding: 20px;
    color: whitesmoke;
    font-family: Arial;
    margin-left: 50px;
    }

    .conteudo .bloco1 #foto1{
    margin-top: 25px;
    display: flex;
    margin-left: 120px;
    height: 350px;

    }

    .conteudo .bloco1 #assinatura{
    margin-left: 150px;
    font-family: Allura;
    font-size: xx-large;
    display: flex;
    }

    .conteudo .bloco1 #item{
    margin-top: 50px;
    margin-left:50px;
    margin-right: 100px;
    font-size: 25px;
    text-align: justify;
    display: flex;
    }


    }





