*{
        margin: 0;
        padding: 0;
    }

    .menu{
        width: 100%;
        height: 60px;
        background-color: #054964;
        font-family: Arial;
    }

    .menu ul{
        list-style: none;
        position: initial;
    }


    .menu ul li{
        /*width: 100px;*/
        float: left;
    }


    .menu a{
        padding: 18px;
        display: inline-flex;/*verificar os itens juntos*/
        text-decoration: none;
        text-align: center;
        background-color: #054964;
        color: #cce3da;
        margin: 1px;
    }

    .menu a:hover{
        background-color: #0c1d7a;
        font-weight: bold;
    }