  *  {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

/*construção do menu*/

  /*  .max-width{
        max-width: 1300px;
        padding: 0 80px;
        margin: auto;
    }

    .navbar{
        position: fixed;
        width: 100%;
        padding: 13px;
        font-family: Ubuntu, sans-serif;
        transition: all 0.3s ease;
        background: #054964 ;
    }
    .navbar .sticky{
        background: #054964 ;
        padding: 15px;
    }

    .navbar .max-width{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar .logo a{
        color: whitesmoke;
        font-size: 35px;
        font-weight: 400;
    }
    .navbar .logo a span{
        color: #0bd503;
        transition: all 0.3s ease;
    }

    .navbar .menu li{
        list-style: none;
        display: inline-block;
    }

    .navbar .menu li a{
        color: whitesmoke;
        font-size: 18px;
        font-weight: 400;
        margin-left: 12px;
        transition: color 0.3s ease;
    }

    .navbar .menu li a:hover{
        color: #0bd503;
    }*/


    /*Home*/

    .home{
        display: flex ;
        /*height: 100vh;*/
        color: whitesmoke;
        min-height: 500px;
        height: calc(100vh - 70px);
        font-family: Ubuntu,sans-serif;
    }

    .home .max-width{
        margin: auto 0 auto 40px;

    }

    .home .home-content .text-1 {
        font-size: 30px;
    }
    .home .home-content .text-2 {
        font-size: 75px;
        font-weight: 400;

    }
    .home .home-content .text-3 {
        font-size: 40px;

    }
    .home .home-content .text-3 #dev{
        color: #d5741b;
        font-weight: bold;
    }



    /*Menu Mobile*/
    /*.menu-btn{
        color: whitesmoke;
        font-size: 35px;
        cursor: pointer;
        display: none;
    }*/

    /*responsivo*/

   /* @media (max-width: 1110px) {
        .navbar .max-width{
            margin-left: 0;
        }

    }

    @media (max-width: 991px) {
        .navbar .max-width{
            padding: 30px;
        }
    }*/

    @media (max-width: 600px) {
       /* .max-width{
            padding: 0 30px;
        }
        .menu-btn{
            display: block;
            z-index: 999;
        }

        .navbar .menu{
            position: fixed;
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background:#054964 ;
            padding-top: 80px;
            text-align: center;
        }
        .navbar .menu li{
            display: block;
        }
        .navbar .menu li a{
            display: inline-block;
            margin: 20px;
            font-size: 18px;
        }*/
          .home .home-content .text-2 {
            font-size: 70px;

        }
        .home .home-content .text-3 {
            font-size: 35px;

        }

    }

   /* @media (max-width: 690px){

       .home .home-content .text-2 {
            font-size: 60px;

        }
        .home .home-content .text-3 {
            font-size: 32px;

        }
    }

     @media (max-width: 500px){

       .home .home-content .text-2 {
            font-size: 50px;

        }
        .home .home-content .text-3 {
            font-size: 25px;

        }
    }*/

