<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>My profile Fabricio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylus_exp.css">
</head>
<body>

    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>

<body style="background-color: rgba(14,47,75,0.3)">
<input type="checkbox" id="botao_menu">
<label for="botao_menu">&#9776;</label>

          <nav class="menu" >
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="formacao.html">Formação Escolar</a></li>
                <li><a href="experiencia.html">Experiência Profissional</a></li>
                <li><a href="projetos.html">Portfólio e Projetos</a></li>
                <li><a href="interesses.html">Interesses e Curiosidades</a></li>


            </ul>
        </nav>
<section>

    <h1 id="tit_principal"> Experiências Profissionais </h1>
        <div class="table">
            <table id="tab_exp">

                <tr id="line1">
                    <td>Empresa</td>
                    <td>Função</td>
                    <td>Atividades</td>
                    <td>Período</td>
                </tr>
                <tr>
                     <td style="width: 10px">
                         <figure>
                            <img src="../static/imagens/logo_ford.png">
                            <figcaption>Ford Motor Company Ltda</figcaption>
                         </figure>
                     </td>
                     <td style="width: 10px">
                        <p>Analista Logística <br/> Controlador Materiais <br/> Operador de Produção</p>
                     </td>
                     <td style="width: 1000px">
                        <ul>
                            <li>Controle fluxo de embalagens</li><br/>
                            <li>Contato com fornecedores</li><br/>
                            <li>Contato com Transportadoras</li><br/>
                            <li>Expedição – Solicitação de veículos, acompanhamento produção e preparação de carga.</li><br/>
                            <li>Gerenciamento de Warehouse.</li><br/>
                            <li>Trabalho em conjunto com equipe de terceirizada de logística.</li><br/>
                            <li>Programação de embarques de motores e transmissões.</li><br/>
                            <li>Emissão de notas fiscais para embarque de peças e embalagens.</li><br/>
                            <li>Controle de entrada de notas fiscais materiais produtivos e não produtivos.</li><br/>
                            <li>Pesagem de veículos para carga e descarga.</li><br/>
                            <li>Contatos com fornecedores e transportadores.</li><br/>
                            <li>Análise de tempo de cobertura de insumos para produção.</li><br/>
                            <li>Logística reversa.</li><br/>
                            <li>Report diário ao time de transportes quanto a necessidade de embalagens (inbound e outbound).</li><br/>
                            <li>Conferencia, etiquetagem e armazenamento de peças no armazém.</li><br/>
                            <li>Solicitação de insumos através do Kanban para fornecedores.</li><br/>
                            <li>Elaboração de instruções de trabalho para operações da logística interna.</li><br/>
                            <li>Controle de FIFO produto acabado através de planilhas e gráficos.</li><br/>
                            <li>Desenvolvimento/Controle de KPI´s para ajuda aos gestores.</li><br/>
                            <li>Preparação logística para entrada de novas peças na produção.</li><br/>
                            <li>Identificação de pontos de coleta no armazém e pontos de uso na linha de produção – PFEP.</li><br/>
                            <li>Atualização sistema ERP(CMMS) quanto ao cadastro de peças.</li><br/>
                            <li>Criação de controle de notas fiscais via Excel e Access.</li><br/>
                            <li>Desenvolvimento aplicativo para entrada de dados do uso de empilhadeiras via PowerApps. (Eliminação desperdício).</li><br/>
                            <li>Validação de notas fiscais/XML.</li><br/>
                            <li>Criação controle de janelas de recebimento / envio via SharePoint.</li><br/>
                            <li>Montagem de motores, pistões, cabeçotes e blocos.</li><br/>
                            <li>Armazenamento de motores e peças em racks.</li><br/>
                            <li>Operação de talhas elétricas e torqueadeiras eletrônicas e pneumáticas.</li><br/>
                            <li>Operação de painéis de controle de linha de produção.</li><br/>
                            <li>Teste de motores.</li><br/>
                            <li>Reparos nos motores.</li><br/>
                            <li>Auxiliar Manutenção.</li><br/>

                        </ul>
                     </td>

                     <td>
                         <p>2009 - 2021</p>
                     </td>
                </tr>
                     <td style="width: 20px">
                        <figure>
                            <img src="../static/imagens/logo_vill.png">
                            <figcaption>Aços Villares S/A</figcaption>
                        </figure>
                     </td>
                     <td>
                        <p>Assistente Administrativo<br/>Estagiário</p>
                     </td>
                     <td>
                        <ul>
                            <li>Entrada de dados sistema SAP-PP.</li><br/>
                            <li>Gestão indicadores consumo de matéria prima.</li><br/>
                            <li>Gestão indicadores produção de metal líquido.</li><br/>
                            <li>Gerenciamento de pastas de trabalho e quadros de Gestão a Vista.</li><br/>
                            <li>Pesagem de matéria prima.</li><br/>
                            <li>Elaboração planilhas e gráficos excel.</li><br/>
                            <li>Auxílio aos gestores para elaboração de planilhas e documentos referentes aos volumes produzidos.</li><br/>
                            <li>Extração de dados sistêmicos para relatórios de performance operacional.</li><br/>
                        </ul>
                     </td>
                     <td>
                         <p>2004 - 2009</p>
                     </td>
                </tr>
            </table>
        </div>


</section>
</body>
</html>
