<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fabricio Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/experiencia.css">
    <link rel="stylesheet" type="text/css" href="../static/css/novanav.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>
<body style="background-color:#093649">

<header id="header">
    <a id="logo" href="http://www.linkedin.com/in/fabricio-logistica" title="Linkedin">Fa<span>brício</span></a>
    <nav id="nav">
        <ion-icon id="btn-mobile"  name="menu-outline"></ion-icon>
        <ul id="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="formacao.html">Formação</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="projetos.html">Portfólio</a></li>
            <li><a href="interesses.html">Interesses</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
</header>

<section class="myexpe" id="myexpe">
    <div class="max-width">
        <h2 class="title">Pro<span>file</span></h2>
        <div class="myexpe-content">
            <div class="carousel owl-carousel">
                <div class="card">
                    <div class="box">
                        <img src="../static/imagens/logo_ford.png">
                        <div class="text">Analista Logística</div>
                        <div class="text-1">2012 - 2021</div><br/>
                        <p>►Controle de estoque de materiais.</p>
                        <p>►Manuseio de peças.</p>
                        <p>►Armazenagem e embalagens.</p>
                        <p>►Embalamento adequado dos produtos.</p>
                        <p>►Indicadores chave dos processos - KPIs.</p>
                        <p>►Estruturas e projetos voltados a redução de custos logísticos.</p>
                        <p>►Desenvolvimento de instruções de trabalho.</p>
                        <p>►Programação de embarques e recebimentos.</p>
                        <p>►Notas fiscais (emissão e recebimento).</p>
                        <p>►Follow up em fornecedores e transportadores (parts availability).</p>
                        <p>►Gestão de armazéns (endereçamento, abastecimento, identificações).</p>
                        <p>►Criação de relatórios em Excel, PowerBI e Tableau com base em dados no fluxo logístico para
informação aos gestores..</p>
                        <p>►Suporte ao time de Engenharia, Qualidade e Produção.</p>
                        <p>►Pesagem de veículos.</p>
                        <p>►Solicitação veículos para transporte.</p>
                        <p>►Conferencia, etiquetagem e armazenamento de peças no armazém.</p>
                        <p>►Rotas para distribuição interna dos insumos.</p>
                        <p>►Controle dos pontos de abastecimento (Part Numbers).</p>
                        <p>►Fechamento mensal do setor e apresentações.</p>
                        <p>►Atuação no Phase In and Out Products.</p>
                        <p>►Inventário.</p>

                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img src="../static/imagens/logo_ford.png">
                        <div class="text">Operador de Produção</div>
                        <div class="text-1">2009 - 2012</div><br/>
                        <p>►Montagem de motores, pistões, cabeçotes e blocos.</p>
                        <p>►Armazenamento de motores e peças em racks.</p>
                        <p>►Manuseio de talhas elétricas.</p>
                        <p>►Manuseio com parafusadeiras eletrônicas e pneumáticas.</p>
                        <p>►Manuseio de painéis de controle de linha de produção.</p>
                        <p>►Teste de motores a combustão.</p>
                        <p>►Reparos motores, desmontagem e remontagem.</p>
                        <p>►Auxiliar manutenção mecanica e eletrônica.</p>
                 </div>
                </div>
                <div class="card">
                    <div class="box">
                        <img style="width: 20%"  src="../static/imagens/logo-vill3.png">
                        <div class="text">Assistente Administrativo</div>
                        <div class="text-1">2004 - 2009</div><br/>
                        <p>►Operação no sistema SAP.</p>
                        <p>►Gestão indicadores consumo de matéria prima.</p>
                        <p>►Gestão indicadores produção de metal líquido.</p>
                        <p>►Gerenciamento de pastas de trabalho e quadros de Gestão a Vista.</p>
                        <p>►Pesagem de matéria prima.</p>
                        <p>►Elaboração planilhas e gráficos excel.</p>
                        <p>►Auxílio aos gestores para elaboração de planilhas e documentos referentes aos volumes produzidos.</p>
                        <p>►Elaboração planilhas e gráficos excel.</p>
                        <p>►Extração de dados sistêmicos para relatórios de performance operacional.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../src/script.js"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
</body>
</html>
