<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>My profile Fabricio</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../static/css/stylus_formacao.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>

<body style="background-color: rgba(14,47,75,0.3)">
<input type="checkbox" id="botao_menu">
<label for="botao_menu">&#9776;</label>

          <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="formacao.html">Formação Escolar</a></li>
                <li><a href="experiencia.html">Experiência Profissional</a></li>
                <li><a href="projetos.html">Portfólio e Projetos</a></li>
                <li><a href="interesses.html">Interesses e Curiosidades</a></li>
            </ul>
        </nav>


<section>
    <h1 id="tit_principal">Formação Escolar</h1>
    <div class="table">
        <table  id= "tab_cursos">
            <tr id="line1">
                <td style="height: 5px">Curso</td>
                <td style="height: 5px;">Descrição</td>
                <td style="height: 5px">Período</td>
                <td style="height: 5px;">Instituição</td>
            </tr>
            <tr>
                <td>Desenvolvimento Software Multiplataforma</td>
                <td><p>O Curso Superior Tecnológico em Desenvolvimento de Software Multiplataforma tem como objetivo formar profissionais capazes de desenvolver software para diversas plataformas, tais como Web, Desktop, Móvel, em Nuvem Internet das Coisas, empregando conceitos de Segurança da Informação e Inteligência Artificial. Assim como especializar profissionais para trabalhar com metodologias ágeis de gestão de projetos, versionamento, integração e entrega contínua de software, visando desenvolver soluções de software que atendam os critérios de qualidade exigidos pelo mercado. </p></td>
                <td>2021<br/>2023</td>
                <td><img src="../static/imagens/logo_2.png"></td>
            </tr>
            <tr>
                <td>Logística</td>
                <td><p>Profissional que gerencia o fluxo de produtos ou pessoas em uma empresa. Cuida da aquisição, do recebimento, da armazenagem, da distribuição e do transporte de produtos, bem como do controle e processamento de pedidos. Determina, por exemplo, a quantidade e o tipo de veículos necessários para uma entrega. Planeja a organização e a ordem dos produtos dentro de caminhões ou contêineres. Monta o roteiro de entrega dos produtos. Define o melhor local para se fazer um estoque. Pode atuar ainda na ordenação do fluxo de atendimento ao público em hospitais e postos de serviço. Em indústrias e fábricas, determina a disposição de equipamentos e setores de produção, de modo a melhorar a produtividade e evitar desperdício e retrabalho. Precisa saber trabalhar em equipe e ter alguma familiaridade com informática, pois no dia a dia do trabalho terá de usar programas específicos da área. </p></td>
                <td>2015<br/>2017</td>
                <td><img src="../static/imagens/logo_2.png"></td>
            </tr>
            <tr>
                <td>Ciências Computação</td>
                <td><p>Profissional qualificado para planejar, projetar, desenvolver, implantar e gerenciar sistemas de computação, abrangendo desde soluções simples com computadores pessoais até redes corporativas complexas.</p></td>
                <td>2006<br/>2009</td>
                <td><img src="../static/imagens/logo_anhan.png"></td>
            </tr>
            <tr>
                <td>Técnico Mecanica</td>
                <td><p>Profissional que elabora projetos mecânicos e sistemas automatizados. Ele planeja, aplica e controla procedimentos de instalação e de manutenção mecânica de máquinas e equipamentos, além de desenvolver e controlar processos de fabricação e montagem de conjuntos mecânicos.</p></td>
                <td>2004<br/>2005</td>
                <td><img src="../static/imagens/logo_senai.png"></td>
            </tr>
            <tr>
                <td>Técnico Informática Industrial</td>
                <td><p>O curso técnico em Informática Industrial é responsável pela formação de profissionais capacitados em trabalhar nas mais diversas indústrias, que funcionam com apoio de sistemas informatizados, ou seja, na automação desses locais. É importante salientar que, a Informática Industrial não está voltada apenas a programação de sistemas.</p></td>
                <td>1997<br/>1999</td>
                <td><img src="../static/imagens/logo_etec.png"></td>
            </tr>
        </table>
    </div>


</section>

</body>
</html>
