<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My Profile Fabricio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylus_index.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>

<body style="background-color: rgba(14,47,75,0.3)">
<input type="checkbox" id="botao_menu">
<label for="botao_menu">&#9776;</label>

          <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="formacao.html">Formação Escolar</a></li>
                <li><a href="experiencia.html">Experiência Profissional</a></li>
                <li><a href="projetos.html">Portfólio e Projetos</a></li>
                <li><a href="interesses.html">Interesses e Curiosidades</a></li>
            </ul>
        </nav>

    <div class="container">

            <img id="foto1" src=../static/imagens/amostra.jpg alt="Fabricio" >
            <figcaption class="assinatura">Fabrício Henriques</figcaption>

    </div>
    <div class="apresentação">

            <p> Fabricio, 40 anos, brasileiro, casado e pai. Estudante e amante de tecnologias, atualmente cursando a Fatec "Jassen Vidal" em São José dos Campos, no promissor curso de DSM - Desenvolvimento de Software Multiplataforma, venho por meio desta simples página, fazer um breve resumo da minha vida educacional e profissional.</p>

    </div>

</body>
</html>