<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>My Profile Fabricio</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stylus_index.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>

<body class="back">
<input type="checkbox" id="botao_menu">
<label for="botao_menu">&#9776;</label>

          <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="formacao.html">Formação Escolar</a></li>
                <li><a href="experiencia.html">Experiência Profissional</a></li>
                <li><a href="projetos.html">Portfólio e Projetos</a></li>
                <li><a href="interesses.html">Interesses e Curiosidades</a></li>
            </ul>
        </nav>
    <!--<div class="back">
        <img id="fundo"  src=" ../static/imagens/fundo1.jpg">
    </div>-->
    <section class="conteudo" ">
            <div class="bloco1">
                <img id="foto1" src=../static/imagens/Foto_Perfil-sbg-.png alt="Fabricio" >
                <figcaption id="assinatura">Fabrício Henriques</figcaption>
            </id>
            <div id="item">
                <p> Fabrício, 40 anos, brasileiro, casado e pai. Estudante e amante de tecnologias, atualmente cursando a Fatec "Jassen Vidal" em São José dos Campos-SP, no promissor curso de DSM (Desenvolvimento de Software Multiplataforma). Venho por meio desta simples página, fazer um breve resumo da minha vida educacional e profissional.</p>
            </div>
    </section>
    <!--<div class="apresentação">

            <p> Fabricio, 40 anos, brasileiro, casado e pai. Estudante e amante de tecnologias, atualmente cursando a Fatec "Jassen Vidal" em São José dos Campos, no promissor curso de DSM - Desenvolvimento de Software Multiplataforma, venho por meio desta simples página, fazer um breve resumo da minha vida educacional e profissional.</p>

    </div>-->

</body>
</html>