<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>My profile Fabricio</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../static/css/stylus_interesses.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>

<body style="background-color: rgba(14,47,75,0.3)">
<input type="checkbox" id="botao_menu">
<label for="botao_menu">&#9776;</label>

          <nav class="menu" style="position: fixed">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="formacao.html">Formação Escolar</a></li>
                <li><a href="experiencia.html">Experiência Profissional</a></li>
                <li><a href="projetos.html">Portfólio e Projetos</a></li>
                <li><a href="interesses.html">Interesses e Curiosidades</a></li>
            </ul>
        </nav>



<section>
    <div id="titulo0">
        <h1>Áreas de Interesse</h1>
    </div>
    <div id="titulo1">
        <h3>Tecnologia da Informação</h3>
    </div>
    <div id="assunto">
            <p>Sempre gostei de novidades na área, e sempre procurei entende-las, devido a isso possuo conhecimento em básico em
                eletrônica, algumas linguagens de programação e aplicativos, tais como:</p>
    </div>
    <div id="lista">
            <ul>
                <li>Sharepoint</li>
                <li>Power Apps</li>
                <li>Power Bi</li>
                <li>Tableau</li>
                <li>Alteryx - Este estou aprendendo</li>
            </ul>
    </div>
    <div id="assunto1">
              <p> Também possuo conhecimento em hardware e redes, pois passei boa parte do início de minha carreira trabalhando na
    área de suporte, como Técnico Informática:</p>
        <div id="lista1">
            <ul>
                <li>Manutenção de desktops e laptops</li>
                <li>Manutenção de impressoras matriciais, jato de tinta, lasers e térmicas</li>
                <li>Instalação e configuração de redes de computadores</li>
                <li>Instalação de Sistemas Operacionais (Windows e Linux) e demais aplicativos para usuários finais</li>
            </ul>
        </div>
        <div id="titulo2">
        <h3>Mecanica</h3>
        </div>
        <div id="assunto3">
            <p> Devido ter trabalhado em indústrias mecanicas, como siderurgia e automobilistica, também muito me agrada o
        setor de metalmecanica, devido a isso conheço:</p>
        </div>
        <div id="lista2">
            <ul>
                <li>Utilização de instrumentos de medicação, paquimetro, micrometro, relógio comparador</li>
                <li>Ferramentas da qualidade : Ishikawa, 5w2h, 5 porques, PDCA</li>
            </ul>
        </div>


</section>

<footer>
    <h4> Fabrício César Maciel Henriques</h4>

</footer>







</body>
</html>
