<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>My profile Fabricio</title>
</head>
<body>
<link rel="stylesheet" type="text/css" href="../static/css/stylus_projeto.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>

<body style="background-color: rgba(14,47,75,0.3)">
<input type="checkbox" id="botao_menu">
<label for="botao_menu">&#9776;</label>

          <nav class="menu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="formacao.html">Formação Escolar</a></li>
                <li><a href="experiencia.html">Experiência Profissional</a></li>
                <li><a href="projetos.html">Portfólio e Projetos</a></li>
                <li><a href="interesses.html">Interesses e Curiosidades</a></li>
            </ul>
        </nav>
        <section class="container">
        <div class="titulo">
            <h2>Projeto em PowerApps - Alteryx  e Tableau</h2>
        </div>
        <div>
            <p>Elaboração de controle de equimentos de movimentação logística, tais como empilhadeiras e carros de
            abastecimento de linha de produção, onde o objetivo era economizar com o aluguel dos mesmos. Diante desse
            desafio, foi construido o aplicativo, usando plataforma low code e disponibilizado na rede. O operador fazia
            a leitura de um QR code no equipamento industrial e apontava a área de utilização e a hora de inicial e
            final de uso do equipamento. Esses dados, alimentavam uma lista no Sharepoint, que após tratamento no
            Alterix, serviam de base para a construção de dashboard através do Tableau. Com a ánalise desses dados, foi
            possivel ter uma economia no alguel dos equipamentos na ordem de 12k mensais.</p>
        </div>
        <div class="titulo2">
            <h2>Projeto Integração Fatec</h2>
        </div>
        <div>
            <p>Desenvolvimento de um sistema unificado para postagem e leitura de avisos pertinentes aos alunos e
            professores e funcionários da Fatec. Uilitzando -se dos conhecimentos aprendidos via sala virtual. Neste
            primeiro momento, com aplicação das seguintes tecnologias : HTML, CSS, Scrum.</p>
        </div>

        </section>


</body>
</html>