<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Fabricio Profile</title>
    <link rel="stylesheet" type="text/css" href="../static/css/sobre.css">
    <link rel="stylesheet" type="text/css" href="../static/css/novanav.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=yes">
</head>
<body>
<body class="back">

<header id="header">
    <a id="logo"  href="http://www.linkedin.com/in/fabricio-logistica" title="Linkedin">Fa<span>brício</span></a>
    <nav id="nav">
        <ion-icon id="btn-mobile"  name="menu-outline"></ion-icon>
        <ul id="menu">
            <li><a href="home.html">Home</a></li>
            <li><a href="sobre.html">Sobre</a></li>
            <li><a href="formacao.html">Formação</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="projetos.html">Portfólio</a></li>
            <li><a href="interesses.html">Interesses</a></li>
            <li><a href="contato.html">Contato</a></li>
        </ul>
    </nav>
</header>
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">So<span>bre</span></h2>
        <div class="about-content">
            <div class="column left">
                <img   src="../static/imagens/Foto_Perfil-sbg-.png">
                <div class="text">Fabrício César Maciel Henriques</div>
                <div class="text-1">Estudante de IT e Profissional de Logística</div>
            </div>
            <div class="column right">
                <p>Fabrício, 41 anos, brasileiro, casado e pai. Estudante e amante de tecnologias, atualmente cursando a Fatec "Jassen Vidal" em São José dos Campos-SP, no promissor curso de DSM (Desenvolvimento de Software Multiplataforma). Venho por meio desta simples página, fazer um breve resumo da minha vida educacional e profissional.</p>
                <a href="#">Download Curriculo</a>
            </div>
        </div>
    </div>
</section>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../src/script.js"></script>
</body>
</html>