*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

section{
    padding: 100px 0;
}

.formacao {
    font-family: Roboto,sans-serif;
}
.formacao .title {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
    padding-bottom: 5px;
    position: relative;
    color: #d5741b;
}

.formacao .title span{
    color: whitesmoke;
}

.formacao .title::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: whitesmoke;
    transform: translateX(-50%);
}

.formacao .title::after{
    position: absolute;
    bottom: -32px;
    left: 50%;
    font-size: 20px;
    background: none;
    color: yellow;
    padding: 5px;
    transform: translateX(-50%);
}

.formacao .form-content{
    margin-left: 5px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: whitesmoke;
}
.formacao{
    background: ;
    color: whitesmoke;
}

.formacao .title::after{
    content: "Cursos";
}

.formacao .form-content .card{
    margin-top: 150px;
    width: calc(35% - 20%);
    background: #011013;
    text-align: center;
    border-radius: 5px;
    padding: 20px 25px;
    cursor:pointer;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.5s ease;
}

.formacao .form-content .card:hover{
    background: #131348;
}

.formacao .form-content .card .box{
    transition: all 0.5s ease;
}
.formacao .form-content .card:hover .box {
    transform: scale(1.10);
}

@media (max-width: 1160px){
    .formacao .form-content .card{
    width: calc(40% - 10%);
    margin-bottom: 20px;
    }

}

@media (max-width: 940px){
    .formacao .form-content .card{
    width: calc(40% - 10%);
    margin-bottom: 20px;
    }

}

@media (max-width: 690px) {
    .formacao .form-content .card{
        width: 90%;
        margin-top: 45px;
        margin-left: 30px;
    }
}